/*Custom CSS*/


.navbar-brand img {
    display: inline-block;
    max-width: 150px;
    max-height: 50px !important;
}


/* // NavBar */
.navbar{
    background-color: #093d52;
}

.navbar.navbar-light.navbar-expand-lg {
    padding: 8px 10px !important;
}

/*LINK styled as button*/
.navbar-light .navbar-nav a.btn-login-area{
    background-color: #ee7421 !important;
    color: #ffffff !important;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px !important;
}

.navbar-light .navbar-nav a.btn-login-area:hover{
    background-color: rgb(197, 100, 9) !important;
}

.navbar a.nav-link{
    color: #ffffff !important;
}

.navbar svg.icon{
    filter: brightness(0) invert(1) !important;
} 

.navbar form .awesomplete #navbar-search:focus{
    border: 1px solid #00a88e !important; 
    box-shadow: 2px 0px 1px 1px rgba(0,168,142,0.75) !important;
    -webkit-box-shadow: 2px 0px 1px 1px rgba(0,168,142,0.75) !important;
    -moz-box-shadow: 2px 0px 1px 1px rgba(0,168,142,0.75) !important;
}

.navbar form .awesomplete #navbar-search::placeholder{
    color: #ffffff !important;
}

/*Sidebar*/
.layout-side-section .list-sidebar .standard-sidebar-section a.selected{
    background-color: #093d52 !important;
    color: #ffffff;
}

.layout-side-section .list-sidebar .standard-sidebar-section a:hover{
    background-color: #ee7421;
    color: #ffffff;
    transition: 0.3s;
}

.layout-side-section .list-sidebar .standard-sidebar-section a.selected svg.icon{
    filter: brightness(0) invert(1) !important;
}

.layout-side-section .list-sidebar .standard-sidebar-section a:hover svg.icon{
    filter: brightness(0) invert(1) !important;
}
/*Sidebar*/

/*Sidebar Inside Pages*/
.layout-side-section .list-sidebar .sidebar-section a.btn.btn-default{
    background-color: transparent !important;
    border: 1px solid #093d52 !important;
    color: #093d52 !important;
}

.layout-side-section .list-sidebar .sidebar-section a.btn.btn-default:hover{
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13)!important;
    box-shadow: 0 1px 3px rgba(0,0,0,.13)!important;
    transition: 0.3s !important;
}
/*Sidebar Inside Pages*/

/*Buttons*/
.btn.btn-sm, .btn.btn-primary{
    padding: 8px 16px !important;
}

.btn.btn-primary{
    background-color: #ee7421 !important;
    color: #ffffff !important;
}


.btn.btn-primary:hover{
    background-color: rgb(197, 100, 9) !important;
}

.btn.btn-light, .btn.btn-default{
    background-color: transparent !important;
    color: #000000 !important;
    border:1px solid #000000 !important;
}

.btn.btn-light:hover, .btn.btn-default:hover{
    background-color: #000000 !important;
    color: #ffffff !important;
}
/*Links*/



/*Input Field*/
input{
    background-color: transparent !important;
    border: 1px solid #b9b9b9!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13)!important;
    box-shadow: 0 1px 3px rgba(0,0,0,.13)!important;
    border-radius: 4px!important;
}

input:hover{
    border: 1px solid #093d52 !important;
    transition: 0.3s !important;
}

input:focus{
    border: 1px solid #093d52 !important;
    transition: 0.3s !important;
    box-shadow: 1px 2px 22px -5px rgba(9,61,82,0.88) !important;
-webkit-box-shadow: 1px 2px 22px -5px rgba(9,61,82,0.88) !important;
-moz-box-shadow: 1px 2px 22px -5px rgba(9,61,82,0.88) !important;
}

/*Dropdown Fields*/
select{
    background-color: transparent !important;
    border: 1px solid #b9b9b9!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13)!important;
    box-shadow: 0 1px 3px rgba(0,0,0,.13)!important;
    border-radius: 4px!important;
}

select:hover, select:focus{
    border: 1px solid #093d52 !important;
    cursor: pointer;
    transition: 0.3s !important;
}

/*Date Field*/
.input-with-feedback:hover{
    cursor: pointer;
}

.datepicker{
    background-color: #f6f6f6 !important;
    z-index: 9999 !important;
}

.datepicker .datepicker--content{
    color: #000000 !important;
}

.datepicker .datepicker--nav-title, .datepicker--day-name {
    font-weight: 700 !important;
}

.datepicker--cell.-current-, .datepicker--cell.-current-.-in-range-{
    color: #7A0200 !important;
    font-weight: 700;
}

.datepicker--cell.-current-.-selected-, .datepicker--cell.-selected-{
    background-color: #7A0200 !important;
    color: #ffffff !important;
    font-weight: 700 !important;
}

.datepicker--cell-day:hover{
    background-color: #7A0200 !important;
    color: #ffffff !important;
}

/*Breadcrumbs*/
.breadcrumb-item a{
    color: #7A0200 !important;
}

.breadcrumb-item.active{
    color: #6c767d !important;
}


/*Modal*/
.modal .modal-header .modal-title{
    font-weight: 700 !important;
    color: #7A0200 !important;
}

.modal .modal-header button.close{
    opacity: 1 !important;
}

.modal .modal-header .icon .close-alt{
    fill: #000000 !important;
}

.modal .modal-header button.close:hover .close-alt{
    fill:#7A0200 !important;
}

.modal .modal-body{
    color: #000000 !important;
}
/*****************************/

/*Login Page*/
.for-login .page-card-head .trn-logo{
    max-height: 150px !important;
    margin-bottom: 0px !important;
}

.for-login .form-signin .forgot-password-message a, .for-login .sign-up-message a{
    text-decoration: underline !important;
    color:#000000 !important; 
}

.for-login .form-signin .forgot-password-message a:hover, .for-login .sign-up-message a:hover{
    color: #00a88e !important;
}

/*Login Page*/

/*Sign Up Form*/

.web-form-wrapper .form-page .section-head{
    font-size: 18px !important;
}

/*Sign Up Form*/




/*Texts and Everything*/
.page-title .title-area .title-text{
    color:#042836;
}
/*Texts and Everything*/



/*Inside Card Element*/
.indicator-pill.yellow{
    background-color: #ff9f5f !important;
}

.indicator-pill.yellow::before{
    background-color: #ffffff !important;
}

.indicator-pill{
    background-color: #185972 !important;
}

.indicator-pill::before{
    background-color: #ffffff !important;
}

.widget.shortcut-widget-box .indicator-pill{
    background-color: #00a88e !important;
    color: #ffffff !important;
}

.title-area .indicator-pill{
    background-color: #00a88e !important;
    color: #ffffff !important;
}

.disabled-link .indicator-pill{
    background-color: #8e8e8e !important;
}

.disabled-link .indicator-pill::before{
    background-color: #555555 !important;
}

.widget.links-widget-box{
    border:1px solid #093d52;
}

.widget.links-widget-box .widget-body a:hover{
    background-color: #ee7421 !important;
    color: #ffffff !important;
    transition: 0.3s;
}



.widget-group .widget-group-body .widget-shadow.shortcut-widget-box{
    border:1px solid #093d52;
    transition: 0.3s;
}

.widget-group .widget-group-body .widget-shadow.shortcut-widget-box .widget-head .widget-title{
    font-weight: 700;
}

.widget-group .widget-group-body .widget-shadow.shortcut-widget-box:hover{
    background-color: #ee7421;
    border-color: #ee7421;
}

.widget-group .widget-group-body .widget-shadow.shortcut-widget-box:hover .widget-head .widget-title{
    color: #ffffff;
}
/*Inside Card Element*/



/*Form Card Section*/
.form-layout .form-page .row.form-section.card-section{
    border-top: 8px solid #106b8f;
} 
/*Form Card Section*/



/*Breadcrumbs*/
#navbar-breadcrumbs li a{
    color: #ffffff !important;
}

#navbar-breadcrumbs a:before{
    color: #ffffff;
}

#navbar-breadcrumbs li.disabled a{
    color: #00a88e !important;
    font-weight: 700 !important;
    text-decoration: underline;
}
/*Breadcrumbs*/



/*Table Elements*/
.level.list-row .indicator-pill.gray{
    background-color: #77BD1E !important;
    color: #ffffff !important;
}

/*Table Elements*/
